{% extends 'base.html' %}
{% block title %}Сотрудники{% endblock %}

{% block additional_css %}
    <style type="text/css" xmlns="http://www.w3.org/1999/html">
        .unactive-user-counter {
            color: red;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            function getNewContent() {
                // сбор данных фильтров
                var avatar = $('#filter-avatar').val(),
                    surname = $('#filter-surname').val(),
                    name = $('#filter-name').val(),
                    show_deleted = $('#filter-show-deleted').prop('checked');

                var filters = '?avatar=' + avatar + '&surname__icontains=' + surname + '&name__icontains=' + name;
                if (!show_deleted) {
                     filters += '&is_active=True'
                }
                // запрос нового контента
                $.ajax({
                    url: '{{ filter_user_link }}' + filters,
                    type: 'GET',
                    dataType: 'jsonp',
                    crossDomain: true,
                    success: function (data) {
                        $('#user-list').html(data['users']);
                    }
                });
            }

            $('#filter-avatar, #filter-show-deleted').on('change', function() {
                getNewContent();
            });
            $('#filter-surname, #filter-name').on('keyup', function() {
                getNewContent();
            });

            $('#user-list').on('click', '.remove-link', function() {
                return confirm('Вы действительно хотите удалить пользователя?');
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Сотрудники
                    <small>Всего активных сотрудников: {{ users.count }}</small>
                    <span style="border-right: 1px solid gray;"></span>
                    <small>
                        <input type="checkbox" id="filter-show-deleted">
                        Показывать удаленых сотрудников
                    </small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li title="Добавить сотрудника"><a href="{% url 'profile:user_create' %}"><i class="fa fa-plus"></i></a></li>
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <div>
                                Аватар
                            </div>
                            <div class="col-md-7">
                                  <select class="form-control" id="filter-avatar">
                                    <option value=""></option>
                                    <option value="1">Есть</option>
                                    <option value="0">Нет</option>
                                  </select>
                            </div>
                        </th>
                        <th>
                            <div>
                                Фамилия
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" id="filter-surname">
                            </div>
                        </th>
                        <th>
                            <div>
                                Имя
                            </div>
                            <div class="col-md-12">
                              <input type="text" class="form-control" id="filter-name">
                            </div>
                        </th>
                        <th>Операции</th>
                    </tr>
                    </thead>
                    <tbody id="user-list">
                        {% include 'users/_user_list.html' %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}