{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Смена пароля
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form data-parsley-validate="" class="form-horizontal form-label-left" method="POST" action="{% url 'profile:change_password' %}">
                        {% if messages %}
                            <p class="alert alert-success fade in">
                                {% for message in messages %}
                                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group{% if field.errors %} bad{% endif %}">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                {{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="parsley-errors-list" id="parsley-id-{{ forloop.counter }}">
                                         {% for error in field.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}