{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Аватар{% endblock %}
{% block additional_js %}
    <!-- image cropping -->
    <script src="{% static 'js/cropping/cropper.js' %}"></script>
    <script src="{% static 'js/cropping/custom-crop.js' %}"></script>
{% endblock %}

{% block additional_css %}
    <link href="/media/temp/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/lleo.css' %}">
    <style>
    img {
          max-width: 100%; /* This rule is very important, please do not ignore this! */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row avatar">
        <div class="container cropper">
            <div class="row">
                <div class="col-md-9">
                    <div class="img-container">
                        {% if user.avatar %}
                            <img id="image" src="{{ user.avatar.url }}{% comment %}/media/temp/picture2.jpg{% endcomment %}" alt="Picture">
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
         <button id="super-button" class="btn btn-info">Сохранить маленький аватар</button>
        <hr>
        <h3>Загрузить другую фотографию</h3>
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" class="btn btn-warning" name="avatar">
            <input type="submit" class="btn btn-success" value="Сохранить новую фотографию">
        </form>
        <hr>
    </div>
{% endblock %}