{% extends 'base.html' %}
{% block content %}


    <link href="/media/temp/cropper.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->

    <style type="text/css">

    #lleo_dialog,
    #lleo_dialog * {
        color: #000 !important;
        font: normal 13px Arial, Helvetica !important;
        line-height: 15px !important;
        margin: 0 !important;
        padding: 0 !important;
        background: none !important;
        border: none 0 !important;
        position: static !important;
        vertical-align: baseline !important;
        overflow: visible !important;
        width: auto !important;
        height: auto !important;
        max-width: none !important;
        max-height: none !important;
        float: none !important;
        visibility: visible !important;
        text-align: left !important;
        text-transform: none !important;
        border-collapse: separate !important;
        border-spacing: 2px !important;
        box-sizing: content-box !important;
        box-shadow: none !important;
        opacity: 1 !important;
        text-shadow: none !important;
        letter-spacing: normal !important;
        -webkit-filter: none !important;
        -moz-filter: none !important;
        filter: none !important;
    }

    #lleo_dialog *:before,
    #lleo_dialog *:after {
        content: '';
    }

    #lleo_dialog iframe {
        height: 0 !important;
        width: 0 !important;
    }

    #lleo_dialog {
        position: absolute !important;
        background: #fff !important;
        border: solid 1px #ccc !important;
        padding: 7px 0 0 !important;
        left: -999px;
        top: -999px;
        width: 440px !important;
        overflow: hidden;
        display: block !important;
        z-index: 999999999 !important;
        box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.16) !important;
        border-radius: 3px !important;
        opacity: 0 !important;
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }

    #lleo_dialog.lleo_show_small {
        width: 150px !important;
    }

    #lleo_dialog.lleo_show {
        opacity: 1 !important;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s !important;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s !important;
        -ms-transition: -ms-transform 0.3s, opacity 0.3s !important;
        -o-transition: -o-transform 0.3s, opacity 0.3s !important;
        transition: transform 0.3s, opacity 0.3s !important;
    }

    #lleo_dialog.lleo_collapse {
        opacity: 0 !important;
        -webkit-transform: scale(0.25, 0.1) translate(-550px, 100px);
        -moz-transform: scale(0.25, 0.1) translate(-550px, 100px);
        -ms-transform: scale(0.25, 0.1) translate(-550px, 100px);
        -o-transform: scale(0.25, 0.1) translate(-550px, 100px);
        transform: scale(0.25, 0.1) translate(-550px, 100px);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.4s !important;
        -moz-transition: -moz-transform 0.4s, opacity 0.4s !important;
        -ms-transition: -ms-transform 0.4s, opacity 0.4s !important;
        -o-transition: -o-transform 0.4s, opacity 0.4s !important;
        transition: transform 0.4s, opacity 0.4s !important;
    }

    #lleo_dialog input::-webkit-input-placeholder {
        color: #aaa !important;
    }

    #lleo_dialog .lleo_has_pic #lleo_word {
        margin-right: 80px !important;
    }

    #lleo_dialog #lleo_translationsContainer1 {
        position: relative !important;
    }

    #lleo_dialog #lleo_translationsContainer2 {
        padding: 7px 0 0 !important;
        vertical-align: middle !important;
    }

    #lleo_dialog #lleo_word {
        color: #000 !important;
        margin: 0 5px 2px 0 !important;
        /*float: left !important;*/
    }

    #lleo_dialog .lleo_has_sound #lleo_word {
        margin-left: 30px !important;
    }

    #lleo_dialog #lleo_text {
        font-weight: bold !important;
        color: #d56e00 !important;
        text-decoration: none !important;
        cursor: default !important;
    }


    #lleo_dialog #lleo_optionsBtn {
        position: absolute !important;
        right: 3px !important;
        top: 5px !important;
        line-height: 1px !important;
        text-decoration: none !important;
        font-weight: bold !important;
        font-size: 13px !important;
        color: #aaa !important;
        padding: 2px !important;
        display: none;
    }

    #lleo_dialog.lleo_optionsShown #lleo_optionsBtn {
        display: block !important;
    }

    #lleo_dialog #lleo_optionsBtn img {
        width: 12px !important;
        height: 12px !important;
    }

    #lleo_dialog #lleo_sound {
        float: left !important;
        width: 16px !important;
        height: 16px !important;
        margin-left: 9px !important;
        margin-right: 3px !important;
        background: 0 0 no-repeat !important;
        cursor: pointer !important;
        display: none !important;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNq0U01IVFEU/u57Oo5WhBRIBBptykWLYBa2soWiEKQQEbrSFsGbVRQKQc2iFqGitXqvjQxCoCJCqyI0aBUtZILaJNUuYWYWo8HovJ/707nP94bnz0rxwvfOuefd8517fi5TSuE4i50YwZ3l37ZhNlpgzFkaaM/G9sHF1YskNrT+7l4PjMOcb78t2JL71uxgB+2UlfxHTtq5N94fIOh/88kWgWfl73ZCSQkpeGg3H091JY6dI2S00qA/N3KO3dDUYhFgEmZGurG+w9FqApIHsVM7kaTF9Nhn0r8Q7hPWQgIRuNaH3AMUA4W/Lkdh04cpFS43G0TgxQTvCdMETVAk3KynIHwXZU/ge8XDt7KH9bKLjU0P2zVO5LsEpSejVRJ9UR18EtfqKegovs9R3Q6w9c/H1o4Aa2Jwm1lIvn9RJ4w9RdRRzqcYrpwycCll4Cy1lnkS3Bc6vfBg28v8aRIfI78zhB/1GygROH3jLyyzMQ0zlUZuZBSlKkeLoegGtTjYLcJ8pF+NakHOFC2J6w+f25mxSfWrWFF/ShXVPTGvtN14NNkVnxlYWJkgZEL7/vwKr55lKSVnaGYWkuYgrgG172uUv47+U7fw0EHaJXmalUQy/HqO6lBzEsVjJC4Q8kd6TETQpjuaGOvjv8b/AgwA/ij1XMx58NIAAAAASUVORK5CYII=) !important;
    }

    #lleo_dialog .lleo_has_sound #lleo_sound {
        display: block !important;
    }

    #lleo_dialog #lleo_soundWave {
        border: solid 5px #4495CC !important;
        border-radius: 5px !important;
        position: absolute !important;
        left: -5px !important;
        top: -5px !important;
        right: -5px !important;
        bottom: -5px !important;
        z-index: 0 !important;
        opacity: 0.9 !important;
        display: none !important;
    }

    #lleo_dialog #lleo_soundWave.lleo_beforePlaying {
        display: block !important;
    }

    #lleo_dialog #lleo_soundWave.lleo_playing {
        opacity: 0 !important;
        border-width: 20px !important;
        border-radius: 30px !important;

        -webkit-transform: scale(1.07, 1.1) !important;
        -moz-transform: scale(1.07, 1.1) !important;
        -ms-transform: scale(1.07, 1.1) !important;
        transform: scale(1.07, 1.1) !important;

        -webkit-transition: all 0.6s !important;
        -moz-transition: all 0.6s !important;
        -ms-transition: all 0.6s !important;
        transition: all 0.6s !important;
    }

    #lleo_dialog #lleo_picOuter {
        position: absolute !important;
        float: right !important;
        top: 4px;
        right: 5px;
        z-index: 9 !important;
        display: none !important;
        width: 100px !important;
    }

    #lleo_dialog.lleo_optionsShown #lleo_picOuter {
        right: 25px;
    }

    #lleo_dialog .lleo_has_pic #lleo_picOuter {
        display: block !important;
    }

    #lleo_dialog #lleo_picOuter:hover {
        width: auto !important;
        z-index: 11 !important;
    }

    #lleo_dialog #lleo_pic,
    #lleo_dialog #lleo_picBig {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        border: solid 2px #fff !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        z-index: 1 !important;
    }

    #lleo_dialog #lleo_pic {
        position: relative !important;
        border: none !important;
        width: 30px !important;
    }

    #lleo_dialog #lleo_picBig {
        box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.3);
        z-index: 2 !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }

    #lleo_dialog #lleo_picOuter:hover #lleo_picBig {
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transition: opacity 0.3s !important;
        -webkit-transition-delay: 0.3s !important;
    }

    #lleo_dialog #lleo_transcription {
        margin: 0 80px 4px 31px !important;
        color: #aaaaaa !important;
    }

    #lleo_dialog .lleo_no_trans {
        color: #aaa !important;
    }

    #lleo_dialog .ll-translation-counter {
        float: right !important;
        font-size: 11px !important;
        color: #aaa !important;
        padding: 2px 2px 1px 10px !important;
    }

    #lleo_dialog .ll-translation-text {
        float: left !important;
        /*width: 80% !important;*/
    }

    #lleo_dialog #lleo_trans a {
        color: #3F669F !important;
        text-decoration: none !important;
        text-overflow: ellipsis !important;
        padding: 1px 4px !important;
        overflow: hidden !important;
        float: left !important;
        width: 320px !important;
    }

    #lleo_dialog .ll-translation-item {
        color: #3F669F !important;
        border: solid 1px #fff !important;
        padding: 3px !important;
        width: 100% !important;
        float: left !important;
        -moz-border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
    }

    #lleo_dialog .ll-translation-item:hover {
        border: solid 1px #9FC2C9 !important;
        background: #EDF4F6 !important;
        cursor: pointer !important;
    }

    #lleo_dialog .ll-translation-item:hover .ll-translation-counter {
        color: #83a0a6 !important;
    }

    #lleo_dialog .ll-translation-marker {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAWSURBVBhXY7RPm/+fAQkwIXNAbMICAJQ8AkvqWg/SAAAAAElFTkSuQmCC) !important;
        display: inline-block !important;
        width: 4px !important;
        height: 4px !important;
        margin: 7px 5px 2px 2px !important;
        float: left !important;
    }

    #lleo_dialog #lleo_icons {
        color: #aaa !important;
        font-size: 11px !important;
        background: #f8f8f8 !important;
        padding: 10px 10px 10px 16px !important;
    }

    #lleo_icons a:hover {
        opacity: 1 !important;
    }

    #lleo_icons a.lleo_google {
        background-position: -34px 0 !important;
    }

    #lleo_icons a.lleo_multitran {
        background-position: -64px 0 !important;
    }

    #lleo_icons a.lleo_lingvo {
        background-position: -51px 0 !important;
        width: 12px !important;
    }

    #lleo_icons a.lleo_dict {
        background-position: -17px 0 !important;
    }

    #lleo_icons a.lleo_linguee {
        background-position: -81px 0 !important;
    }

    #lleo_icons a.lleo_michaelis {
        background-position: -98px 0 !important;
    }

    #lleo_dialog #lleo_contextContainer {
        margin: 0 !important;
        padding: 3px 15px 8px 10px !important;
        background: #eee !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)) !important;
        background: -moz-linear-gradient(-90deg, #fff, #eee) !important;
        border-bottom: solid 1px #ddd !important;
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        display: none !important;
        overflow: hidden !important;
    }

    #lleo_dialog .lleo_has_context #lleo_contextContainer {
        display: block !important;
    }

    #lleo_dialog #lleo_context {
        color: #444 !important;
        text-shadow: 1px 1px 0 #f4f4f4 !important;
        line-height: 12px !important;
        font-size: 11px !important;
        margin-left: 2px !important;
    }

    #lleo_dialog #lleo_context b {
        line-height: 12px !important;
        color: #000 !important;
        font-weight: bold !important;
        font-size: 11px !important;
    }

    #lleo_dialog #lleo_translateContextLink {
        color: #444 !important;
        text-shadow: 1px 1px 0 #f4f4f4 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ddd)) !important;
        background: -moz-linear-gradient(-90deg, #f4f4f4, #ddd) !important;
        border: solid 1px !important;
        box-shadow: 1px 1px 0 #f6f6f6 !important;
        border-color: #999 #aaa #aaa #999 !important;
        -moz-border-radius: 2px !important;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
        padding: 0 3px !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin: 1px 5px 0 !important;
        display: inline-block !important;
        white-space: nowrap !important;
    }

    #lleo_dialog #lleo_translateContextLink:hover {
        background: #f8f8f8 !important;
    }

    #lleo_dialog #lleo_translateContextLink.hidden {
        visibility: hidden !important;
    }

    #lleo_dialog #lleo_setTransForm {
        display: block !important;
        margin-top: 3px !important;
        padding-top: 5px !important;
        /* Set position and background because the form might be overlapped by an image when no translations */
        position: relative !important;
        background: #fff !important;
        z-index: 10 !important;
        padding-bottom: 10px !important;
        padding-left: 16px !important;
    }

    #lleo_dialog .lleo-custom-translation {
        padding: 4px 5px !important;
        border: solid 1px #ddd !important;
        border-radius: 2px !important;
        width: 90% !important;
        min-width: 270px !important;
        background: -webkit-gradient(linear, 0 0, 0 20, from(#f1f1f1), to(#fff)) !important;
        background: -moz-linear-gradient(-90deg, #f1f1f1, #fff) !important;
        font: normal 13px Arial, Helvetica !important;
        line-height: 15px !important;
    }

    #lleo_dialog .lleo-custom-translation:hover {
        border: solid 1px #aaa !important;
    }

    #lleo_dialog .lleo-custom-translation:focus {
        background: #FFFEC9 !important;
    }

    #lleo_dialog *.hidden {
        display: none !important;
    }

    #lleo_dialog .infinitive {
        color: #D56E00 !important;
        text-decoration: none;
        border-bottom: 1px dotted #D56E00 !important;
    }

    #lleo_dialog .infinitive:hover {
        border: none !important;
    }

    #lleo_dialog .lleo_separator {
        height: 1px !important;
        background: #eee;
        margin-top: 10px !important;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #eee 8%, rgba(255, 255, 255, 1) 80%) !important;
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #eee 8%, rgba(255, 255, 255, 1) 80%) !important;
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, #eee 8%, rgba(255, 255, 255, 1) 80%) !important;
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, #eee 8%, rgba(255, 255, 255, 1) 80%) !important;
    }

    #lleo_dialog #lleo_trans {
        /*border-top: 1px solid #eeeeee !important;*/
        padding: 5px 30px 0 14px !important;
        zoom: 1;
    }

    #lleo_dialog .lleo_clearfix {
        display: block !important;
        clear: both !important;
        visibility: hidden !important;
        height: 0 !important;
        font-size: 0 !important;
    }

    #lleo_dialog #lleo_picOuter table {
        width: 44px !important;
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
        vertical-align: middle !important;
    }

    #lleo_dialog #lleo_picOuter td {
        width: 38px !important;
        height: 38px !important;
        /*border: 1px solid #eeeeee !important;*/
        vertical-align: middle !important;
        text-align: center !important;
    }

    #lleo_dialog #lleo_picOuter td div {
        height: 38px !important;
        overflow: hidden !important;
    }

    #lleo_dialog .lleo_empty {
        margin: 0 5px 7px !important;
    }

    #lleo_youtubeExportBtn {
        margin-left: 10px;
        height: 24px;
    }

    #lleo_youtubeExportBtn i {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: 0 0 url(https://d144fqpiyasmrr.cloudfront.net/plugins/all/images/i16.png) !important;
    }

    #lleo_youtubeExportBtn .yt-uix-button-content {
        font-size: 12px;
        line-height: 2px;
    }

    /*** Parsed Lyrics Content *****************************/

    .lleo_lyrics tran {
        background: transparent !important;
        border-radius: 2px !important;
        text-shadow: none !important;
        cursor: pointer !important;
    }

    .lleo_lyrics tran:hover {
        color: #fff !important;
        background: #C77213 !important;
        -webkit-transition: all 0.1s !important;
        -moz-transition: all 0.1s !important;
        -ms-transition: all 0.1s !important;
        -o-transition: all 0.1s !important;
        transition: all 0.1s !important;
    }

    .lleo_songName {
        border: solid 1px #ffd47c;
        background: #fff1c2;
        border-radius: 2px;
    }

    .lleo_hidden_iframe {
        visibility: hidden;
    }</style>
</head>

<body class="nav-md" cz-shortcut-listen="true">
<div class="container body">
    <div class="main_container">

        <!-- image cropping -->
        <div class="container cropper">
            <div class="row">
                <div class="col-md-9">
                    <!-- <h3 class="page-header">Demo:</h3> -->
                    <div class="img-container">
                        <img id="image" src="/media/temp/picture2.jpg" alt="Picture">
                    </div>
                </div>
            </div>
            <div class="row">
                <button id="super-button">Supper button</button>
                <div class="col-md-9 docs-buttons">


                    <div class="btn-group btn-group-crop">
                        <button type="button" class="btn btn-primary" data-method="getCroppedCanvas"
                                data-option="{ &quot;width&quot;: 160, &quot;height&quot;: 90 }">
                          <span class="docs-tooltip" data-toggle="tooltip"
                                title="$().cropper(&quot;getCroppedCanvas&quot;, { width: 200, height: 200 })">
                            Get Cropped Canvas
                          </span>
                        </button>

                    </div>

                    <!-- Show the cropped image in modal -->
                    <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true"
                         aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <a class="btn btn-primary" id="download" href="javascript:void(0);"
                                       download="cropped.png">Download</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal -->

                    <button type="button" class="btn btn-primary" data-method="getData" data-option
                            data-target="#putData">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getData&quot;)">
                          Get Data
                        </span>
                    </button>
                    <button type="button" class="btn btn-primary" data-method="setData" data-target="#putData">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setData&quot;, data)">
                          Set Data
                        </span>
                    </button>

                    <input type="text" class="form-control" id="putData"
                           placeholder="Get data to here or set data with this value">
                </div><!-- /.docs-buttons -->

            </div>
        </div>
        <!-- /image cropping -->
    </div>
</div>
</div>
</div>
<!-- /page content -->


</div>
</div>

<!-- jQuery -->
<script src="/media/temp/jquery.min.js"></script>

<!-- Cropper -->
<script src="/media/temp/cropper.min.js"></script>


<!-- Cropper -->
<script>
    $(document).ready(function () {
        var $image = $('#image');
        var $dataX = $('#dataX');
        var $dataY = $('#dataY');
        var $dataHeight = $('#dataHeight');
        var $dataWidth = $('#dataWidth');
        var $dataRotate = $('#dataRotate');
        var $dataScaleX = $('#dataScaleX');
        var $dataScaleY = $('#dataScaleY');
        var options = {
            aspectRatio: 1,
            crop: function (e) {
                $dataX.val(Math.round(e.x));
                $dataY.val(Math.round(e.y));
                $dataHeight.val(Math.round(e.height));
                $dataWidth.val(Math.round(e.width));
                $dataRotate.val(e.rotate);
                $dataScaleX.val(e.scaleX);
                $dataScaleY.val(e.scaleY);
            }
        };


        // Cropper
        $image.on({
            'build.cropper': function (e) {
                console.log(e.type);
            },
            'built.cropper': function (e) {
                console.log(e.type);
            }

        }).cropper(options);

        $('#super-button').on('click', function () {
            console.log($image.cropper('getData'));
            var img = $image.cropper('getCroppedCanvas', {width: 160, height: 90});
            console.log(img.toDataURL());
        });


    });
</script>
<!-- /Cropper -->
{% endblock %}