<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="{% url 'wall_index' %}"><i class="fa fa-home"></i> Главная </a>
            </li>
            {% if 'employee' in user_groups %}
                <li>
                    <a href="{% url 'schedule:schedule_by_week' %}"><i class="fa fa-line-chart"></i> График </a>
                </li>
                <li>
                    <a href="{% url 'profile:profile_edit' %}"><i class="fa fa-university"></i> Личный кабинет </a>
                </li>
                <li>
                    <a href="{% url 'profile:change_password' %}"><i class="fa fa-key"></i> Смена пароля </a>
                </li>
                <li>
                    <a href="{% url 'profile:avatar' %}"><i class="fa fa-picture-o"></i> Аватар </a>
                </li>
                <li>
                    <a href="{% url 'album:album' %}"><i class="fa fa-camera"></i> Мои фотоотчеты </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-commenting-o"></i> Личные сообщения </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-calendar"></i> Расписание </a>
                </li>
                <li>
                    <a href="{% url 'reports:myreports' user.id %}"><i class="fa fa-flag-checkered"></i> Отчеты и перевод </a>
                </li>
                <li>
                    <a href="{% url 'album:wall' %}"><i class="fa fa-camera-retro"></i> Фотолента </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-frown-o"></i> Штрафы </a>
                </li>
                <li>
                    <a href="{% url 'user_list' %}"><i class="fa fa-female"></i> Сотрудники </a>
                </li>
                {% for item in additional_menu %}
                    <li>
                        {% if item.childrens.count %}
                            <a>{{ item.name }} <span class="fa fa-chevron-down"></span></a>

                             <ul class="nav child_menu">
                                 {% for ch in item.childrens.all %}
                                    <li><a href="{% if ch.post %}{% url 'faq:post_detail' ch.post.id %}{% endif %}">{{ ch.name }}</a></li>
                                 {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{% if item.post %}{% url 'faq:post_detail' item.post.id %}{% endif %}">{{ item.name }} </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
            {% if 'director' in user_groups or 'chief' in user_groups %}
                <li>
                    <a href=""><i class="fa fa-commenting-o"></i> Личные сообщения </a>
                </li>
                <li>
                    <a href="{% url 'reports:reports_by_week' %}"><i class="fa fa-flag-checkered"></i> Отчеты </a>
                </li>
                <li>
                    <a href="{% url 'calendar:show_calendar' %}"><i class="fa fa-calendar"></i> Расписание </a>
                </li>
                <li>
                    <a href="{% url 'schedule:schedule_by_week_all_users' %}"><i class="fa fa-line-chart"></i> График </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-calendar"></i> Недельный план </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-sort-amount-desc"></i> Остатки формы </a>
                </li>
                <li>
                    <a href="{% url 'album:wall' %}"><i class="fa fa-camera-retro"></i> Фотолента </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-frown-o"></i> Штрафы </a>
                </li>
                <li>
                    <a href=""><i class="fa fa-area-chart"></i> Статистика </a>
                </li>
                <li>
                    <a href="{% url 'club:club_list' %}"><i class="fa fa-building"></i> Заведения </a>
                </li>
                {% if 'director' in user_groups %}
                    <li>
                        <a href=""><i class="fa fa-book"></i> Ведомость </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'user_list' %}"><i class="fa fa-female"></i> Сотрудники </a>
                </li>
                <li>
                    <a href="{% url 'faq:post_list' %}"><i class="fa fa-edit"></i> Редактирование информации </a>
                </li>
                <li>
                    <a href="{% url 'faq:menu_list' %}"><i class="fa fa-edit"></i> Редактирование меню </a>
                </li>
                <li>
                    <a>Справочники <span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                        <li><a href="{% url 'catalog:catalog_list' 'clubtype' %}">Типы заведений</a></li>
                        <li><a href="{% url 'catalog:catalog_list' 'metro' %}">Станции метро</a></li>
                        <li><a href="{% url 'catalog:catalog_list' 'penaltytype' %}">Типы штрафов</a></li>
                        <li><a href="{% url 'catalog:catalog_list' 'uniform' %}">Форма</a></li>
                        <li><a href="{% url 'catalog:main_employees' %}">Основной состав</a></li>
                        <li><a href="{% url 'catalog:main_penalty_schedule' %}">Штрафы (по умолчанию)</a></li>
                        <li><a href="{% url 'catalog:week_penalty_schedule' %}">Штрафы (понедельно)</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</div>