<form method="POST" id="week-plan-form" data-parsley-validate="" class="form-horizontal form-label-left" action="">
    <input id="id_week_plan" type="hidden" value="{{ plan_id }}">
    {% for field in form %}
        <div class="form-group{% if field.errors %} bad{% endif %}">
            <label class="control-label col-md-3 col-sm-4 col-xs-12">
                {{ field.label }} {% if field.field.required %}
                <span class="required">*</span>{% endif %}
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ field }}
            </div>

            <div class="col-md-3" style="text-align: left; padding-left: 0;">
                {% if field.name == 'employee' %}
                    <button class="btn btn-success add-user"><i class="fa fa-check"></i></button>
                {% endif %}
            </div>
        </div>
        {% if field.name == 'employee' %}
            <div class="form-group employees-container">
                {% for employee in instance.employees.all %}
                <a href="#" class="remove_selected_user" title="Удалить">
                    <button class="btn btn-dark btn-xs">
                        {% if employee.mode == 'trainee' %}
                            Стажер
                        {% else %}
                            {{ employee.employee.get_full_name }}
                        {% endif %}
                        <input type="hidden" name="employees[]" value="{% if employee.mode == 'trainee' %}-1{% else %}{{ employee.employee.id }}{% endif %}">
                        <i class="fa fa-remove"></i>
                    </button>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</form>