amqp==1.4.9
anyjson==0.3.3
asgiref==0.14.0
autobahn==0.15.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
daphne==0.14.2
Django==1.9.8
django-appconf==1.0.2
django-cleanup==0.4.2
django-formset-js==0.5.0
django-jquery-js==2.1.4
django-model-utils==2.5
kombu==3.0.35
Pillow==3.2.0
psycopg2==2.6.1
pytz==2016.6.1
redis==2.10.5
requests==2.10.0
six==1.10.0
sorl-thumbnail==12.3
Twisted==16.2.0
txaio==2.5.1
xlwt==1.1.2
zope.interface==4.2.0
