{% extends 'base.html' %}

{% block title %}Меню{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(function() {
            $('.remove-link').on('click', function() {
                return confirm('Подтвердите удаление');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Меню</h1>
    <a href="{% url 'faq:menu_create' %}" class="btn btn-info">Добавить меню</a>
    {% for item in items %}
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> {{ item.name }}
                        {% if item.post %}<small>Привязано к записи: {{ item.post.name }}</small>{% endif %}
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="{% url 'faq:menu_edit' item.id %}">Редактировать</a></li>
                        <li><a class="remove-link" href="{% url 'faq:menu_remove' item.id %}">Удалить</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}