{% extends 'base.html' %}

{% block title %}Статистика{% endblock %}

{% block additional_css %}
    <style type="text/css">
        .send-on-wall {
            margin-top: 15px;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        // фильтры
        $('.use-filter-button').on('click', function(e) {
            e.preventDefault();
            var url = '?start_date=' + reformat_date($('#calendar-from').val()) + '&end_date=' +
                    reformat_date($('#calendar-to').val()) + '&city=' + $('#city-filter').val();
            if ($('#club-filter').size()) {
                url += '&club=' + $('#club-filter').val();
            }
            location = url;
        });

        $('.calendar').daterangepicker(calendar_options);

        // отправка на стену
        $('.send-on-wall').on('click', function(e) {
            e.preventDefault();
            var items = [];
            var type = $('.switch-btn.active').attr('id');
            $('.for-wall-check:checked').each(function() {
                if (type == 'by_night') {
                    items.push({
                        club: $(this).data('club-name'),
                        employee: $(this).data('employee'),
                        count: $(this).data('count')
                    });
                } else if (type == 'by_sale') {
                    items.push({
                        employee: $(this).data('employee'),
                        count: $(this).data('count')
                    });
                } else if (type == 'by_drinks') {
                    items.push({
                        club: $('#club-filter option:selected').text(),
                        drink: $(this).data('drink-name'),
                        employee: $(this).data('employee'),
                        count: $(this).data('count')
                    });
                } else {
                    items.push({
                        employee: $(this).data('employee'),
                        sum: $(this).data('sum'),
                        count: $(this).data('count'),
                        active: $(this).data('active')
                    });
                }
            });
            var data = {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'items[]': JSON.stringify(items),
                'type': type
            };

            if (parseInt($('#city-filter').val()) != 0) {
                data['city'] = $('#city-filter option:selected').text();
            }

           $.ajax({
                url: '{% url 'stats:send_stats_on_wall' %}',
                data: data,
                type: 'POST',
                success: function(response) {
                    if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                        new PNotify({
                            title: 'Ура!',
                            text: 'Статистика успешно отправлена на стену.',
                            type: 'success',
                            styling: 'bootstrap3'
                        });

                    } else {
                        new PNotify({
                            title: 'О нет!',
                            text: 'Произошла ошибка при отправлении статистики на стену.',
                            type: 'error',
                            styling: 'bootstrap3'
                        });
                    }
                    $('.ui-pnotify').fadeIn('slow');
                    setTimeout(function () {
                        $('.ui-pnotify').fadeOut('fast');
                    }, 2000);
                }
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Статистика
                    <small>{{ start_date }} - {{ end_date }}</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <a href="{% url 'stats:stats_by_night' %}?{% if start_date_f %}start_date={{ start_date_f }}&{% endif %}{% if end_date_f %}end_date={{ end_date_f }}{% endif %}{% if current_city %}&city={{ current_city }}{% endif %}" id="by_night" class="switch-btn btn{% if current_stats == 'by_night' %} active{% endif %} btn-success">За ночь</a>
                <a href="{% url 'stats:stats_by_sale' %}?{% if start_date_f %}start_date={{ start_date_f }}&{% endif %}{% if end_date_f %}end_date={{ end_date_f }}{% endif %}{% if current_city %}&city={{ current_city }}{% endif %}" id="by_sale" class="switch-btn btn{% if current_stats == 'by_sale' %} active{% endif %} btn-success">По продажам</a>
                <a href="{% url 'stats:stats_by_penalty' %}?{% if start_date_f %}start_date={{ start_date_f }}&{% endif %}{% if end_date_f %}end_date={{ end_date_f }}{% endif %}{% if current_city %}&city={{ current_city }}{% endif %}" id="by_penalty" class="switch-btn btn{% if current_stats == 'by_penalty' %} active{% endif %} btn-success">По штрафам</a>
                <a href="{% url 'stats:stats_by_drinks' %}?{% if start_date_f %}start_date={{ start_date_f }}&{% endif %}{% if end_date_f %}end_date={{ end_date_f }}{% endif %}{% if current_city %}&city={{ current_city }}{% endif %}" id="by_drinks" class="switch-btn btn{% if current_stats == 'by_drinks' %} active{% endif %} btn-success">По напиткам</a>
                <div class="small-margin-top">
                    <form class="form-inline">
                        <div class="form-group">
                            С: <input type="text" class="calendar form-control" id="calendar-from" value="{{ start_date|date:"d.m.Y" }}">
                        </div>
                        <div class="form-group">
                            По: <input type="text" class="calendar form-control" id="calendar-to" value="{{ end_date|date:"d.m.Y" }}">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="city-filter">
                                <option {% if current_city == 0 %}selected{% endif %} value="0">Все города</option>
                                {% for city in cities %}
                                    <option {% if current_city == city.id %}selected{% endif %} value="{{ city.id }}">{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if current_stats == 'by_drinks' %}
                            <div class="form-group">
                                <select class="form-control" id="club-filter">
                                    {% for club in clubs %}
                                        <option {% if current_club == club.id %}selected{% endif %} value="{{ club.id }}">{{ club }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <button class="btn btn-info use-filter-button" style="margin-bottom: 0;">Показать</button>
                    </form>
                    <button class="btn btn-dark send-on-wall">Отправить на стену</button>
                </div>
                <div id="stats-container" class="small-margin-top">
                    {{ data_table }}
                </div>
                <button class="btn btn-dark send-on-wall">Отправить на стену</button>
            </div>
        </div>
    </div>
{% endblock %}