{% extends 'base.html' %}

{% load thumbnail %}
{% load staticfiles %}

{% block title %}Стена{% endblock %}

{% block additional_css %}

{% endblock %}

{% block additional_js %}
    {% if 'director' in user_groups or 'chief' in user_groups or 'coordinator' in user_groups %}
        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
        <script src="{% static 'js/summernote-ru-RU.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
              $('.summernote').summernote({
                  height: 200,
                  lang: 'ru-RU',
                  dialogsInBody: false,
                    dialogsFade: false,
                  iframe: true,
                  'toolbar': [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['para', ['ul', 'ol']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                  ],

              });
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Информация</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h2>Фото девушек основного состава</h2>

                    <h2>Инструкция по работе с программой</h2>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Стена</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form action="{% url 'wall:send_post' %}" data-parsley-validate="" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <textarea name="message" class="form-control summernote" rows="3"
                                          placeholder="Ваше сообщение"></textarea>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                                <input style="display: inline;" type="file" name="images[]" multiple
                                       class="btn btn-warning" value="Отправить файлы">
                            </div>
                        </div>

                    </form>
                    {% if posts %}
                        <hr>
                        <ul class="list-unstyled timeline">
                            {% for post in posts %}
                                <li>
                                    <div class="block">
                                        <div class="tags">
                                            {% if post.user.avatar %}
                                                {% thumbnail post.user.avatar "85x85" as av %}
                                                    <img src="{{ av.url }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img src="{{ post.user.get_default_avatar }}" style="width: 85px;">
                                            {% endif %}
                                        </div>
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>{{ post.user.surname }} {{ post.user.name }}</a>
                                            </h2>
                                            <div class="byline">
                                                <span>{{ post.created }}</span>
                                            </div>
                                            {% autoescape off %}
                                                <p class="excerpt">{{ post.text|linebreaks }}</p>
                                            {% endautoescape %}
                                            {% if post.images %}
                                                <div class="thumbnails" data-post-id="{{ post.id }}">
                                                    {% for image in post.images.all %}
                                                        <div class="thumbnail">
                                                            <div class="image">
                                                                {% thumbnail image.file "150x120" as im %}
                                                                    <a class="group-{{ post.id }}" href="{{ image.file.url }}">
                                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                                    </a>
                                                                {% endthumbnail %}
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <button type="submit" data-post-id="{{ post.id }}" class="btn btn-success response-post">Ответить</button>
                                            <div class="col-md-offset-1 response-post-form-{{ post.id }} response-post-form">
                                                <form action="{% url 'wall:send_post' %}" data-parsley-validate="" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input type="hidden" value="{{ post.id }}" name="parent_id">
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <textarea name="message" class="form-control summernote" rows="3"
                                                                      placeholder="Ваш ответ"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="ln_solid"></div>
                                                    <div class="form-group">
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <button type="submit" class="btn btn-primary">Отправить</button>
                                                            <input style="display: inline;" type="file" name="images[]" multiple
                                                                   class="btn btn-warning" value="Отправить файлы">
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            {% if post.childrens %}
                                                <ul class="list-unstyled timeline">
                                                    {% for ch_post in post.childrens.all %}
                                                        <li>
                                                            <div class="block">
                                                                <div class="tags">
                                                                    {% if ch_post.user.avatar %}
                                                                        {% thumbnail ch_post.user.avatar "85x85" as av %}
                                                                            <img src="{{ av.url }}">
                                                                        {% endthumbnail %}
                                                                    {% else %}
                                                                        <img src="{{ ch_post.user.get_default_avatar }}" style="width: 85px;">
                                                                    {% endif %}
                                                                </div>
                                                                <div class="block_content">
                                                                    <h2 class="title">
                                                                        <a>{{ ch_post.user.surname }} {{ ch_post.user.name }}</a>
                                                                    </h2>
                                                                    <div class="byline">
                                                                        <span>{{ ch_post.created }}</span>
                                                                    </div>
                                                                    {% autoescape off %}
                                                                        <p class="excerpt">{{ ch_post.text|linebreaks }}</p>
                                                                    {% endautoescape %}
                                                                    {% if ch_post.images %}
                                                                        <div class="thumbnails" data-post-id="{{ ch_post.id }}">
                                                                            {% for image in ch_post.images.all %}
                                                                                <div class="thumbnail">
                                                                                    <div class="image">
                                                                                        {% thumbnail image.file "150x120" as im %}
                                                                                            <a class="group-{{ ch_post.id }}" href="{{ image.file.url }}">
                                                                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                                                            </a>
                                                                                        {% endthumbnail %}
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- end posts -->
                        {% include 'pagination.html' with page=posts %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}