{% load club_tags %}
{% for club in clubs %}
    <tr id="club-{{ club.id }}">
        <td class="vert-align" scope="row">
            {% if club.is_active %}
                {{ forloop.counter }}
            {% else %}
                <span style="color: red;">{{ forloop.counter }}</span>
            {% endif %}
        </td>
        <td>
            <img src="{% if club.photo %}{{ club.photo.url }}{% else %}{{ club.get_default_photo }}{% endif %}" style="width: 80px;">
        </td>
        <td class="vert-align">{{ club.name }}</td>
        <td class="vert-align">{{ club.city|default:'-' }}</td>
        <td class="vert-align">{{ club.metro|default:'-' }}</td>
        <td class="vert-align">{{ club.street }}</td>
        <td class="vert-align">{{ club.house }}</td>
        <td class="vert-align">{% if club.site %}<a href="{{ club.site|add_http }}" target="_blank">{{ club.site }}</a>{% else %}-{% endif %}</td>
        <td class="vert-align">{{ club.rate }}</td>
        <td class="vert-align buttons-control">
            <a href="{% url 'club:club_edit' club.id %}">
                <button title="Редактировать" class="btn btn-warning"><i class="fa fa-edit"></i></button>
            </a>
            {% if perms.extuser.can_edit_drinks or edit_drinks_perm %}
                <a href="{% url 'club:drinks_edit' club.id %}">
                    <button title="Напитки" class="btn btn-dark"><i class="glyphicon glyphicon-glass"></i></button>
                </a>
            {% endif %}
            <a href="{% url 'club:club_delete' club.id %}" class="remove-link">
                <button title="Удалить" class="btn btn-danger"><i class="fa fa-remove"></i></button>
            </a>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3">
            Клубы не найдены.
        </td>
    </tr>
{% endfor %}