{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    {% if club.id %}
        Редактировании информации о заведении {{ club.name }}
    {% else %}
        Добавление нового заведения
    {% endif %}
{% endblock %}

{% block additional_css %}
    <link href="{% static 'css/vendors/pnotify/dist/pnotify.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">
    <style type="text/css">
        #edit-club-form ul {
            list-style: none;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/vendors/pnotify/dist/pnotify.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {

            // добавление классов для инпутов формы
            $('#edit-club-form input').not(':checkbox').addClass('form-control');
            $('#edit-club-form select').addClass('form-control');
            $('#edit-club-form textarea').addClass('form-control');

            // работа кнопок по выделению сотрудников
            $('#check-all-employee').on('click', function(e) {
                e.preventDefault();
                $('#id_employee input').prop('checked', true);
            });

            $('#uncheck-all-employee').on('click', function(e) {
                e.preventDefault();
                $('#id_employee input').prop('checked', false);
            });

            var timepicker_options = { 'timeFormat': 'H:i', 'step': 15 };
            $('#id_start_time').timepicker(timepicker_options);
            $('#id_end_time').timepicker(timepicker_options);
            $('#id_w_start_time').timepicker(timepicker_options);
            $('#id_w_end_time').timepicker(timepicker_options);

        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        {% if club.id %}
                            Редактировании информации о заведении {{ club.name }}
                        {% else %}
                            Добавление нового заведения
                        {% endif %}
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if messages %}
                        <p class="alert alert-success fade in">
                            {% for message in messages %}
                                <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
                            {% endfor %}
                        </p>
                    {% endif %}
                    <form method="POST" id="edit-club-form" data-parsley-validate="" class="form-horizontal form-label-left"
                          action="{% if club.id %}{% url 'club:club_edit' club.id %}{% else %}{% url 'club:club_add' %}{% endif %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} bad{% endif %}">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    {{ field.label }} {% if field.field.required %}
                                    <span class="required">*</span>{% endif %}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if field.name == 'employee' %}
                                        <button class="btn btn-dark btn-xs" id="check-all-{{ field.name }}">Выбрать всех сотрудников</button>
                                        <button class="btn btn-dark btn-xs" id="uncheck-all-{{ field.name }}">Очистить выбор сотрудников</button>
                                    {% endif %}
                                    {{ field }}
                                    {% if field.errors %}
                                        <ul class="parsley-errors-list" id="parsley-id-{{ forloop.counter }}">
                                            {% for error in field.errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}