{% if transfered %}
    <div class="transfered_message">
{% endif %}
{% for message in my_messages %}
    <div class="container {% if not transfered %}container-not-transfer{% endif %}" data-message-id="{{ message.id }}">
        {% if not transfered %}
        <div class="col-md-1 hidden-xs">
            <input type="checkbox" name="selected_messages[]" class="selected-messages" value="{{ message.id }}">
        </div>
        {% endif %}
        <div class="col-md-1">
            <img src="{{ message.from_user.get_small_avatar }}" class="avatar-in-dialog">
        </div>
        <div class="col-md-8">
            <div>
                <a href="{% url 'user_detail' message.from_user.id %}">
                    <strong class="user-name">{{ message.from_user.get_full_name }}</strong>
                </a>
            </div>
            <div class="mt10">
                {% if message.is_transfered %}
                    {% autoescape off %}
                        {{ message.text }}
                    {% endautoescape %}
                {% else %}
                    {{ message.text|linebreaksbr }}
                {% endif %}

                {% if message.files.count %}
                    <br>
                {% endif %}

                {% for file in message.files.all %}
                    <a target="_blank" class="btn btn-success btn-xs" href="{{ file.file.url }}">{{ file.get_file_name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            {{ message.created }}
            {% if message.from_user == user and not transfered %}
                <br>
                <a href="{% url 'pm:remove_message' message.id %}" class="remove-message-link"><i class="fa fa-remove"></i></a>
            {% endif %}
        </div>
    </div>
    <hr>
{% endfor %}
{% if transfered %}
    </div>
{% endif %}