{% extends 'base.html' %}

{% block title %}Диалоги{% endblock %}

{% block additional_css %}
    <style type="text/css">
        .not_read {
            background-color: rgba(100, 100, 100, 0.1);
        }

        .dialog-item {
            margin-top: 20px;
            display: inherit;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript">
        $(function() {
            $('#send-message-button').on('click', function() {
                $('#add-new-message-form').submit();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Диалоги
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <button class="btn btn-info" data-toggle="modal" data-target="#add-new-message-popup"><i class="fa fa-pencil"></i> Написать сообщение</button>
                <div class="items small-margin-top">
                    {% for item in dialogs %}
                        <a href="{% if item.message.from_user == user %}{% url 'pm:show_dialog' item.message.to_user.id %}{% else %}{% url 'pm:show_dialog' item.message.from_user.id %}{% endif %}" class="clearfix dialog-item">
                            <div class="col-md-2">
                                <img src="{{ item.employee.get_small_avatar }}">
                            </div>
                            <div class="col-md-2">
                                <h5>
                                    <nobr>{{ item.employee.get_full_name }}</nobr>
                                </h5>
                                <nobr>{{ item.message.created }}</nobr>
                            </div>
                            <div class="col-md-7">
                                {% if item.message.from_user == user %}
                                    <div class="your_message {% if not item.message.was_read %}not_read{% endif %} clearfix" style="padding: 5px;">
                                        <div class="col-md-1">
                                            <div class="thumbnail" style="width: 40px; height: 40px;">
                                                <img src="{{ user.get_small_avatar }}">
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-md-offset-1">
                                            <p>{% if item.message.is_transfered %}
                                            &lt;Пересланные сообщения&gt;
                                        {% else %}
                                            {{ item.message.text }}
                                        {% endif %}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="{% if not item.message.was_read %}not_read{% endif %}" style="min-height: 80px; padding: 10px">
                                        {% if item.message.is_transfered %}
                                            &lt;Пересланные сообщения&gt;
                                        {% else %}
                                            {{ item.message.text }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {% include 'pagination.html' with page=dialogs %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="add-new-message-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 660px;">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST"
                          id="add-new-message-form"
                          data-parsley-validate=""
                          class="form-horizontal form-label-left"
                          action="{% url 'pm:send_message' %}">
                        {% csrf_token %}
                        {% for field in send_new_message_form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in send_new_message_form.visible_fields %}
                            <div class="form-group{% if field.errors %} bad{% endif %}">
                                <label class="control-label col-md-3 col-sm-4 col-xs-12">
                                    {{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>
                        Закрыть
                    </button>
                    <button type="button" style="margin-bottom: 5px;" class="btn btn-primary" id="send-message-button">
                        <i class="fa fa-check"></i> Отправить
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}