{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Диалог с {{ to_user.get_full_name }}{% endblock %}

{% block additional_css %}
    <style type="text/css">
        .messages-container {
            max-height: 300px;
            overflow-y: scroll;
        }

        .user-name {
            color: dodgerblue;
        }

        .avatar-in-dialog {
            max-width: 50px;
        }

        .mt10 {
            margin-top: 10px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input.inline-file {
            display: inline-block;
        }
        #show-next {
            margin: 0 auto;
            display: block;
        }
        .fa-remove {
            color: red;
            margin-top: 10px;
            float: right;
            margin-right: 10px;
        }

        .messages-container .container:hover {
            background-color: #f0f0f0;
        }

        .selected-messages {
            display: none;
        }

        #form-container {
            height: 350px;
            overflow-y: scroll;
        }

        .transfered_message {
            border-left: 2px solid darkgrey;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script>
        $(function() {
            $('.messages-container').scrollTo("#last-message");

            $('#show-next').on('click', function() {
                var page = $(this).data('num');
                $.ajax({
                    url: '{% url 'pm:show_dialog' to_user.id %}?page=' + page,
                    type: 'GET',
                    success: function (response) {
                        if (response.complete.has_next == true) {
                            $('#show-next').data('num', response.complete.next_page_number);
                        } else {
                            $('#show-next').hide();
                        }
                        $('.messages').prepend(response.complete.messages);
                    }
                });
            });

            setInterval(function() {
                var last_message_id = $('.messages .container-not-transfer:last').data('message-id');
                 $.ajax({
                    url: '{% url 'pm:get_last_messages' to_user.id %}?last_message_id=' + last_message_id,
                    type: 'GET',
                    success: function (response) {
                        if (response.complete != 'undefined' && response.complete != 0) {
                            var messages = response.complete.messages;
                            if (messages.length) {
                                $('#show-next').hide();
                                $('.messages').append(messages);
                                $('.messages-container').scrollTo("#last-message");
                            }
                        }
                    }
                 });
            }, 8000);

            $('.messages').on('click', '.remove-message-link', function(e) {
                e.preventDefault();
                var message = $(this).closest('.container');
                if (confirm('Подтвердите удаление сообщения')) {
                    var url = $(this).attr('href');
                    $.ajax({
                        url: url,
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                        type: 'POST',
                        success: function(response) {
                            if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                                new PNotify({
                                    title: 'Ура!',
                                    text: 'Сообщение успешно удалено.',
                                    type: 'success',
                                    styling: 'bootstrap3'
                                });
                                message.fadeOut('fast', function() {
                                    message.next().remove();
                                    message.remove();
                                });
                            } else {
                                new PNotify({
                                    title: 'О нет!',
                                    text: 'Произошла ошибка при удалении сообщения',
                                    type: 'error',
                                    styling: 'bootstrap3'
                                });
                            }
                            $('.ui-pnotify').fadeIn('slow');
                            setTimeout(function () {
                                $('.ui-pnotify').fadeOut('fast');
                            }, 2000);
                        }
                    });
                }
            });

            // выделение сообщений
            $('.messages-container').on('click', '.container', function() {
                var checkbox = $(this).find('.selected-messages');
                var new_status = !checkbox.prop('checked');
                checkbox.prop('checked', new_status);
                if (new_status) {
                    checkbox.show();
                } else {
                    checkbox.hide();
                }
            });


            // отправка выбранных сообщений выбранным пользователям
            $('#send-resend-message').on('click', function() {
                var messages_ids = [];
                $('.selected-messages:checked').each(function() {
                    messages_ids.push($(this).val());
                });

                var users_ids = [];
                $('.user_ids_input:checked').each(function() {
                    users_ids.push($(this).val());
                });

                var data = {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'messages_ids[]': JSON.stringify(messages_ids),
                    'users_ids[]': JSON.stringify(users_ids)
                };
                $.ajax({
                    url: '{% url 'pm:resend_messages' %}',
                    data: data,
                    type: 'POST',
                    success: function(response) {
                        if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                            new PNotify({
                                title: 'Ура!',
                                text: 'Сообщения успешно отправлены.',
                                type: 'success',
                                styling: 'bootstrap3'
                            });
                            $('.ui-pnotify').fadeIn('slow');
                            setTimeout(function () {
                                location = '' + window.location.search;
                            }, 1000);
                        } else {
                            new PNotify({
                                title: 'О нет!',
                                text: 'Произошла ошибка при отправке сообщений',
                                type: 'error',
                                styling: 'bootstrap3'
                            });
                            $('.ui-pnotify').fadeIn('slow');
                            setTimeout(function () {
                                $('.ui-pnotify').fadeOut('fast');
                            }, 2000);
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Диалог с {{ to_user.get_full_name }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="container c322">
                    <div class="col-md-12 messages-container">
                        {% if pag.has_next %}<button data-num="{{ pag.next_page_number }}" id="show-next" class="btn">Показать предыдущие сообщения</button>{% endif %}
                        <div class="messages">
                            {% include 'private_message/_chat_part.html' %}
                        </div>
                        <div id="last-message">&nbsp;</div>
                    </div>
                </div>
                <hr>
                <form method="POST"
                          id="add-new-message-form"
                          data-parsley-validate=""
                          enctype="multipart/form-data"
                          class="form-horizontal form-label-left"
                          action="{% url 'pm:send_message' %}">
                    <div class="send-message-container container col-md-offset-1 small-margin-top">
                        <div class="col-md-2">
                            <img src="{{ user.get_small_avatar }}" title="{{ user.get_full_name }} (Вы)" style="width: 80px;">
                        </div>
                        <div class="col-md-6">

                                {% csrf_token %}
                                <input type="hidden" name="redirect" value="{% url 'pm:show_dialog' to_user.id %}">
                                {% for field in send_message_form %}
                                    {{ field }}
                                {% endfor %}
                        </div>
                        <div class="col-md-1">
                            <img src="{{ to_user.get_small_avatar }}" title="{{ to_user.get_full_name }}" style="width: 80px;">
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-offset-1">
                        <input type="submit" class="btn btn-info" value="Отправить">
                        <input type="file" name="files" class="btn btn-warning inline-file" multiple>
                        <span class="btn btn-success" data-toggle="modal" data-target="#resend-messages-container">
                            <i class="fa fa-file"></i> Переслать сообщения
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resend-messages-container" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 660px;">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title">Выберите пользователей</h4>
                </div>
                <div class="modal-body">
                    <div id="form-container">
                        <table class="table table-striped table-bordered">
                            {% for u in users %}
                                <tr>
                                    <td><input type="checkbox" class="user_ids_input" name="user_ids[]" value="{{ u.id }}"></td>
                                    <td>{{ u.get_full_name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>
                        Закрыть
                    </button>
                    <button type="button" style="margin-bottom: 5px;" class="btn btn-primary" id="send-resend-message">
                        <i class="fa fa-check"></i> Отправить
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}