{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Диалог с {{ to_user.get_full_name }}{% endblock %}

{% block additional_css %}
    <style type="text/css">
        .messages-container {
            max-height: 300px;
            overflow-y: scroll;
        }

        .user-name {
            color: dodgerblue;
        }

        .avatar-in-dialog {
            max-width: 50px;
        }

        .mt10 {
            margin-top: 10px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input.inline-file {
            display: inline-block;
        }
        #show-next {
            margin: 0 auto;
            display: block;
        }
        .fa-remove {
            color: red;
            margin-top: 10px;
            float: right;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block additional_js %}
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script>
        $(function() {
            $('.messages-container').scrollTo("#last-message");

            $('#show-next').on('click', function() {
                var page = $(this).data('num');
                $.ajax({
                    url: '{% url 'pm:show_dialog' to_user.id %}?page=' + page,
                    type: 'GET',
                    success: function (response) {
                        if (response.complete.has_next == true) {
                            $('#show-next').data('num', response.complete.next_page_number);
                        } else {
                            $('#show-next').hide();
                        }
                        $('.messages').prepend(response.complete.messages);
                    }
                });
            });

            setInterval(function() {
                var last_message_id = $('.messages .container:last').data('message-id');
                 $.ajax({
                    url: '{% url 'pm:get_last_messages' to_user.id %}?last_message_id=' + last_message_id,
                    type: 'GET',
                    success: function (response) {
                        if (response.complete != 'undefined' && response.complete != 0) {
                            var messages = response.complete.messages;
                            if (messages.length) {
                                $('#show-next').hide();
                                $('.messages').append(messages);
                                $('.messages-container').scrollTo("#last-message");
                            }
                        }
                    }
                 });
            }, 6000);

            $('.messages').on('click', '.remove-message-link', function(e) {
                e.preventDefault();
                var message = $(this).closest('.container');
                if (confirm('Подтвердите удаление сообщения')) {
                    var url = $(this).attr('href');
                    $.ajax({
                        url: url,
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                        type: 'POST',
                        success: function(response) {
                            if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                                new PNotify({
                                    title: 'Ура!',
                                    text: 'Сообщение успешно удалено.',
                                    type: 'success',
                                    styling: 'bootstrap3'
                                });
                                message.fadeOut('fast', function() {
                                    message.remove();
                                });
                            } else {
                                new PNotify({
                                    title: 'О нет!',
                                    text: 'Произошла ошибка при удалении сообщения',
                                    type: 'error',
                                    styling: 'bootstrap3'
                                });
                            }
                            $('.ui-pnotify').fadeIn('slow');
                            setTimeout(function () {
                                $('.ui-pnotify').fadeOut('fast');
                            }, 2000);
                        }
                    });
                }
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-xs-12 col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Диалог с {{ to_user.get_full_name }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="container c322">
                    <div class="col-md-12 messages-container">
                        {% if pag.has_next %}<button data-num="{{ pag.next_page_number }}" id="show-next" class="btn">Показать предыдущие сообщения</button>{% endif %}
                        <div class="messages">
                            {% include 'private_message/_chat_part.html' %}
                        </div>
                        <div id="last-message">&nbsp;</div>
                    </div>
                </div>
                <hr>
                <form method="POST"
                          id="add-new-message-form"
                          data-parsley-validate=""
                          enctype="multipart/form-data"
                          class="form-horizontal form-label-left"
                          action="{% url 'pm:send_message' %}">
                    <div class="send-message-container container col-md-offset-1 small-margin-top">
                        <div class="col-md-2">
                            <img src="{{ user.get_small_avatar }}" title="{{ user.get_full_name }} (Вы)">
                        </div>
                        <div class="col-md-6">

                                {% csrf_token %}
                                <input type="hidden" name="redirect" value="{% url 'pm:show_dialog' to_user.id %}">
                                {% for field in send_message_form %}
                                    {{ field }}
                                {% endfor %}
                        </div>
                        <div class="col-md-1">
                            <img src="{{ to_user.get_small_avatar }}" title="{{ to_user.get_full_name }}">
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-offset-1">
                        <input type="submit" class="btn btn-info" value="Отправить">
                        <input type="file" name="files" class="btn btn-warning inline-file" multiple>
                        <button class="btn btn-success"><i class="fa fa-file"></i> Переслать сообщения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}