{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Расписание{% endblock %}

{% block additional_css %}
    <style type="text/css">
        #loader {
            width: 64px;
            margin: 0 auto;
        }
        td.td_label {
            text-align: right;
            padding-right: 10px;
            font-weight: bold;
            vertical-align: top;
            width: 197px;
        }
        table.detail-view tr td{
           padding-top: 2px;
            padding-bottom: 2px;
            vertical-align: top;
            border-bottom: 1px dashed #ccc;
        }
    .cant_work {
        display: none;
    }
    </style>
{% endblock %}

{% block additional_js %}
    <script>
        $(function() {
             function openTestModal(options){
                $('.work-shift-info-modal').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
                $('.work-shift-info-modal').one('shown.bs.modal', function (e) {
                    var form = $(this).find('form');
                    $.ajax({
                        url: options.href,
                        type: 'GET',
                        success: function (response) {
                            if (typeof response['complete'] != 'undefined' && typeof response['complete']['info'] != 'undefined') {
                                $('#work-shift-info').html(response['complete']['info']);
                                $('.work-shift-info-modal .modal-title').html(response['complete']['title']);

                                if (response['complete']['show_cant_work_button']) {
                                    $('.cant_work').show();
                                    $('#id_work_shift').val(response['complete']['work_shift_id']);
                                } else {
                                    $('.cant_work').hide();
                                }
                            } else {
                                $('#work-shift-info').text('Произошла ошибка');
                            }
                            $('#loader').hide();
                            $('#work-shift-info').show();
                        }
                    });
                });
            }

            $('.cant_work').on('click', function(e) {
                e.preventDefault();
                $('#work-shift-info').hide();
                $('#cant-work-form-container').show();
                $('.cant_work_submit').show();
                $('.cant_work').hide();
            });

            $('.cant_work_submit').on('click', function(e) {
                e.preventDefault();
                var form = $('#cant-work-form'),
                    data = form.serializeArray();
                data.push({'name': 'csrfmiddlewaretoken', value: '{{ csrf_token }}'});
                 $.ajax({
                     url: form.attr('action'),
                     data: data,
                     type: 'POST',
                     success: function (response) {
                         if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                             new PNotify({
                                 title: 'Ура!',
                                 text: 'Вы успешно отказались от мероприятия',
                                 type: 'success',
                                 styling: 'bootstrap3'
                             });
                             $('.ui-pnotify').fadeIn('slow');
                             setTimeout(function () {
                                 location = '' + window.location.search;
                             }, 1000);

                         } else {
                             new PNotify({
                                 title: 'О нет!',
                                 text: 'Произошла ошибка при отказе от мероприятия.',
                                 type: 'error',
                                 styling: 'bootstrap3'
                             });
                             $('.ui-pnotify').fadeIn('slow');
                             setTimeout(function () {
                                 $('.ui-pnotify').fadeOut('fast');
                             }, 2000);
                         }
                     }
                 });
            });

            // нажатие на кнопку "Добавить" в календаре
            $('.work-shift-item').on('click', function(e){
                e.preventDefault();
                $('#work-shift-info').hide();
                $('#cant-work-form-container').hide();
                $('.cant_work_submit').hide();
                $('#loader').css({display: 'block'});
                openTestModal({
                    href: $(this).data('url')
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Расписание
                        <small>{{ start_week }} - {{ end_week }}</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <div class="container">
                     <a href="{% url 'calendar:get_my_work_week' %}?week={{ prev_week }}">
                        <button class="btn"><i class="fa fa-long-arrow-left"></i> Предыдущая неделя</button>
                    </a>
                    <a href="{% url 'calendar:get_my_work_week' %}?week={{ next_week }}">
                        <button class="btn">Следующая неделя <i class="fa fa-long-arrow-right"></i></button>
                    </a>
                    <span class="btn btn-info reference-btn" data-toggle="modal" data-target="#info-container">
                        <i class="fa fa-warning"></i> Справка
                    </span>
                </div>
                    <table class="table table-bordered table-striped small-margin-top">
                        <thead>
                            <tr>
                                <th style="width: 140px;">Дата</th>
                                <th>Мероприятие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in grid %}
                                <tr>
                                    <td><b>{{ item.date|date:"l" }}</b><br> {{ item.date|date:"d b Y" }}</td>
                                    <td>
                                        {% for shift in item.work_shifts %}
                                            <span class="btn {{ item.color_class }} work-shift-item" data-url="{% url 'calendar:get_work_shift_info' shift.id %}">
                                                <b>{{ shift.club.name }}</b><br>
                                                {{ shift.start_time }} - {{ shift.end_time }}
                                                {% if shift.probation %}
                                                    <br><span style="color:darkslateblue;">(Стажировка)</span>
                                                {% endif %}
                                            </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
               </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info-container" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title">Справка по расписанию</h4>
                </div>
                <div class="modal-body">
                    <p>белым цветом обозначены отработанные рабочие дни</p>
                    <p style="background-color: #d9534f; color:white;">красным цветом обозначены предстоящие рабочие дни</p>
                    <p style="background-color: #26B99A; color:white;">зеленым цветом обозначены сегодняшние заведения</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>
                        Закрыть
                    </button>
                </div>

            </div>
        </div>
    </div>

     <div class="modal fade work-shift-info-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                     <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <img src="{% static 'img/heart.gif' %}" id="loader">
                    <div id="work-shift-info"></div>
                    <div id="cant-work-form-container">
                        <form class="form-horizontal" action="{% url 'calendar:cant_work' %}" method="post" id="cant-work-form">
                            {% csrf_token %}
                            <input type="hidden" name="id_work_shift" value="" id="id_work_shift">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                    Причина отказа *
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 3px;">
                                    <textarea name="reason" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>
                        Закрыть
                    </button>
                    <button type="button" class="btn btn-danger cant_work">
                        Отказаться
                    </button>
                    <button type="button" class="btn btn-danger cant_work_submit">
                        Отказаться
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}