{% extends 'base.html' %}
{% load static %}

{% block title %}Расписание{% endblock %}

{% block additional_css %}
    <style type="text/css">
        .club-address {
            font-style: italic;
        }
        .club-work-day {
            background-color: #FFDDFF;
        }
        i.fa-remove {
            color:#C33333;
        }
        a.button-add {
            display: none;
        }
        td:hover a.button-add {
            display: inline-block;
            padding: 2px 5px;
        }
        #loader {
            width: 64px;
            margin: 0 auto;
        }
        .club-td {
            max-width: 128px;
        }
        #bisy-table {
            overflow: hidden;
        }
    </style>
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">
{% endblock %}


{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {


            // редактирование текста записи
            function openTestModal(options){
                $('.add-new-work-shift').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
                $('.add-new-work-shift').one('shown.bs.modal', function (e) {
                    var form = $(this).find('form');
                    $.ajax({
                        url: typeof options.href != 'undefined' ? options.href : '{% url 'calendar:get_empty_work_shift_form' %}',
                        data: options,
                        type: 'GET',
                        success: function (response) {

                            if (response && typeof response['complete'] != 'undefined') {
                                $('#form-container').html(response['complete']);
                                $('#form-container input').not(':checkbox').addClass('form-control');
                                $('#form-container select').addClass('form-control');

                                $('#form-container #id_employee option:first').remove();

                                // скрывать поле сотрудника если не выбрана соответсвующая настройка
                                var employee_container =  $('#form-container #id_employee').closest('.form-group'),
                                    start_time_container =  $('#form-container #id_start_time').closest('.form-group'),
                                    end_time_container =  $('#form-container #id_end_time').closest('.form-group');
                                if ($('#bisy-table').length == 0) {
                                    $('<div id="bisy-table"></div>').insertAfter(employee_container);
                                }
                                $('#bisy-table').hide();
                                $('#id_special_config').off('change').on('change', function() {
                                    var val = $(this).val();
                                    if (val == 'employee') {
                                        employee_container.show();
                                        start_time_container.show();
                                        end_time_container.show();
                                        $('#bisy-table').show();
                                    } else {
                                        if (val == 'cant_work') {
                                            start_time_container.hide();
                                            end_time_container.hide();
                                        } else {
                                            start_time_container.show();
                                            end_time_container.show();
                                        }
                                        employee_container.hide();
                                        $('#bisy-table').hide();
                                    }
                                });
                                $('#id_special_config').trigger('change');

                                // показывать занятость сотрудников
                                $('#id_employee').off('change').on('change', function() {
                                    if ($('#id_special_config').val() != 'employee') {
                                        return;
                                    }
                                    var employee_id = $(this).val();
                                        $.ajax({
                                            url: '/tasks/get_employee_bisy/' + employee_id,
                                            data: options,
                                            type: 'GET',
                                            success: function (response) {
                                                if (response['complete'] != '0') {
                                                    $('#bisy-table').html(response['complete']);
                                                    $('#bisy-table').show();
                                                }
                                            }
                                        });
                                });
                                $('#id_employee').trigger('change');

                                var timepicker_options = { 'timeFormat': 'H:i', 'step': 15 };
                                $('#form-container #id_start_time').timepicker(timepicker_options);
                                $('#form-container #id_end_time').timepicker(timepicker_options);

                                $('#form-container textarea').attr('rows', 4);
                                $('#form-container #id_club').prop('disabled', true);
                                $('#form-container #id_date').prop('disabled', true);
                            } else {
                                $('#form-container').text('Произошла ошибка');
                            }
                            $('#loader').hide();
                            $('#form-container').show();
                        }
                    });
                });
            }

            // нажатие на кнопку "Добавить" в календаре
            $('.button-add').on('click', function(e){
                e.preventDefault();
                $('#form-container').hide();
                $('#loader').css({display: 'block'});
                openTestModal({
                    id: $(this).data('club-id'),
                    date: reformat_date($(this).data('date'))
                });
            });

            // редактирование рабочей смены
            $('.main-user-info').on('click', function(e) {
                e.preventDefault();
                $('#form-container').hide();
                $('#loader').css({display: 'block'});
                openTestModal({
                    href: $(this).attr('href'),
                    date: reformat_date($(this).data('date'))
                });
            });
            {% if perms.extuser.can_edit_work_calendar %}
                // нажатие на кнопку сохранения на форме
                $('#save-work-shift').on('click', function() {
                    var data = {
                        employee: $('#id_employee').val(),
                        club: $('#id_club').val(),
                        date: reformat_date($('#id_date').val()),
                        special_config: $('#id_special_config').val(),
                        start_time: $('#id_start_time').val(),
                        end_time: $('#id_end_time').val(),
                        comment: $('#id_comment').val(),
                        probation: $('#id_probation').prop('checked'),
                        id_work_shift: $('#id_work_shift').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    };
                    $.ajax({
                        url: '{% url 'calendar:save_work_shift' %}',
                        data: data,
                        type: 'POST',
                        success: function(response) {
                            if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                                new PNotify({
                                    title: 'Ура!',
                                    text: 'Рабочая смена успешно сохранена.',
                                    type: 'success',
                                    styling: 'bootstrap3'
                                });
                                $('.ui-pnotify').fadeIn('slow');
                                setTimeout(function () {
                                    location = '{% url 'calendar:show_calendar' %}' + window.location.search;
                                }, 1000);

                            } else {
                                new PNotify({
                                    title: 'О нет!',
                                    text: 'Произошла ошибка при добавлении рабочей смены. Заполните все обязательные поля.',
                                    type: 'error',
                                    styling: 'bootstrap3'
                                });
                                $('.ui-pnotify').fadeIn('slow');
                                setTimeout(function () {
                                    $('.ui-pnotify').fadeOut('fast');
                                }, 2000);
                            }
                        }
                    });
                });

                // нажатие на кнопку удаления
                $('.delete-user-link').on('click', function() {
                    return confirm('Вы действительно хотите удалить рабочую смену?');
                });
            {% endif %}


            // выбор недели по дате
            setCalendarForButton('{% url 'calendar:show_calendar' %}');
        });
    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Расписание
                        <small>{{ start_week }} - {{ end_week }}</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <a href="{% url 'calendar:show_calendar' %}?week={{ prev_week }}&start_date={{ start_date }}">
                        <button class="btn"><i class="fa fa-long-arrow-left"></i> Предыдущая неделя</button>
                    </a>
                    <a href="{% url 'calendar:show_calendar' %}?week={{ next_week }}&start_date={{ start_date }}">
                        <button class="btn">Следующая неделя <i class="fa fa-long-arrow-right"></i></button>
                    </a>
                    <div class="small-margin-top">
                        <button class="btn btn-primary" id="calendar">Выбрать неделю по дате</button>
                    </div>

                        <table class="table table-striped table-bordered">
                            <thead class="fc-head">
                            <tr>
                                <th>Название клуба</th>
                                {% for day in week_days %}
                                    <th>{{ day }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody class="fc-body">
                            {% for item in grid %}
                            <tr>
                                <td class="club-td">
                                    <div><b>{{ item.club.name }}</b></div>
                                    <div class="club-address">{{ item.club.get_address }}</div>
                                    <div>Вых: {{ item.club.w_start_time }} - {{ item.club.w_end_time }}</div>
                                </td>
                                {% for day in item.work_days_for_club %}
                                    <td{% if day.club_work_day %} class="club-work-day"{% endif %}>
                                    {% if perms.extuser.can_edit_work_calendar %}
                                        <div style="height: 30px;">
                                            <a class="btn btn-success btn-xs button-add"
                                               href="#user-add-modal"
                                               data-toggle="modal"
                                               data-club-id="{{ item.club.id }}"
                                               data-date="{{ day.date }}"
                                               title="Добавить">
                                                <i class="fa fa-plus-circle"></i>
                                                Добавить
                                            </a>
                                            &nbsp;
                                        </div>
                                    {% endif %}
                                        {% for work_shift in day.work_shifts %}
                                            <div class="users-registred">
                                                <div>
                                                    <a href="{% url 'calendar:get_work_shift_form' work_shift.id %}"
                                                       data-toggle="modal" title="Редактировать"
                                                       data-date="{{ day.date }}"
                                                       class="btn {% if work_shift.special_config == 'cant_work' %}btn-danger{% else %}btn-dark{% endif %} btn-xs main-user-info">
                                                        {% if work_shift.special_config == 'employee' %}
                                                            {{ work_shift.employee.get_full_name }}
                                                            <br>
                                                            {{ work_shift.start_time }} - {{ work_shift.end_time }}
                                                        {% elif work_shift.special_config == 'trainee' %}
                                                            Стажер
                                                            <br>
                                                            {{ work_shift.start_time }} - {{ work_shift.end_time }}
                                                        {% else %}
                                                            Не работаем
                                                        {% endif %}
                                                    </a>
                                                    {% if perms.extuser.can_edit_work_calendar %}
                                                    <a href="{% url 'calendar:delete_work_shift' work_shift.id %}" title="Удалить" class="delete-user-link">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade add-new-work-shift" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static 'img/heart.gif' %}" id="loader">
                    <div id="form-container"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>
                        Закрыть
                    </button>
                    {% if perms.extuser.can_edit_work_calendar %}
                        <button type="button" style="margin-bottom: 5px;" class="btn btn-primary" id="save-work-shift">
                            <i class="fa fa-check"></i> Сохранить
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}