<optgroup label="Популярные напитки для этого заведения">
    {% for drink in club.drinkclub_set.all %}
        <option data-price="{{ drink.price_in_bar }}" value="_{{ drink.id }}" {% if selected_drink == drink.id %}selected{% endif %}>{{ drink.name }}</option>
    {% endfor %}
</optgroup>
<optgroup label="Все напитки">
    {% for drink in all_drinks %}
        <option data-price="{{ drink.price_in_bar }}" value="{{ drink.id }}" {% if selected_drink == drink.id %}selected{% endif %}>{{ drink.name }}</option>
    {% endfor %}
</optgroup>