{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Калькулятор{% endblock %}

{% block additional_css %}
    <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">
    <style>
        #empty-form {
            display: none;
        }

        #sms-message {display: none;}

    #import-to-report, #import-to-report-error {
        display: none;
    }
    </style>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
    <script>
        $(function() {

            function calc_sale_price(price_in_bar, type) {
                if ($('#club option:selected').data('equal-prices') == 1) {
                    return price_in_bar;
                }
                var factor = parseInt(price_in_bar);
                if (type == 'shot') {
                    factor += 30;
                } else {
                    factor = factor / 2 + 75;
                }
                return Math.ceil(factor / 50) * 50;
            }

            function calc_discount(city, discount_percent, sum_for_bar, markup) {
                if (city == 'Москва') {
                    return sum_for_bar * parseFloat(discount_percent) / 100;
                } else {
                    return markup;
                }
            }

            $('#calendar').daterangepicker(calendar_options);

            var timepicker_options = { 'timeFormat': 'H:i', 'step': 5 };
            $('#time-from').timepicker(timepicker_options);
            $('#time-to').timepicker(timepicker_options);

            // нажатие на кнопку добавления напитка
            $('#add-drink').on('click', function() {
                var new_panel = $('#empty-form').html();
                $(new_panel).insertAfter('.panel-container:last');
                var new_p = $('.containers .drink-container:last');
                new_p.addClass('panel-container');
                new_p.find('.x_title small').text('#' + $('.containers .drink-container').size());
                new_p.find('.drink-select').trigger('change');
                new_p.find('.drink-type-select').trigger('change');
            });

            // удаление напитка
            $(document).on('click', '.close-link', function () {
                var $BOX_PANEL = $(this).closest('.drink-container');
                $BOX_PANEL.remove();
            });

            // выбор напитка из списка
            $('.containers').on('change', '.drink-select', function() {
                var price = $(this).find('option:selected').data('price'),
                    form = $(this).closest('form');
                form.find('.drink-price').val(price);
                var sale_price = calc_sale_price(price, form.find('.drink-type-select').val());
                form.find('.sale-price').text(sale_price);
            });

            // изменение цены напитка
            $('.containers').on('keyup', '.drink-price', function() {
                var price = $(this).val(),
                    form = $(this).closest('form');

                var sale_price = !isNaN(parseInt(price)) ? calc_sale_price(price, form.find('.drink-type-select').val()) : '';
                form.find('.sale-price').text(sale_price);
            });

            // если изменился клуб - для него подгружаются напитки
            $('#club').on('change', function() {
                $('.containers .drink-container').remove();
                var club_href = $(this).find('option:selected').data('href');
                $.ajax({
                    url: club_href,
                    type: 'GET',
                    success: function (response) {
                        $('.drink-select').html(response.complete);
                    }
                });
            });

            function get_current_data() {
                var club_option = $('#club option:selected'),
                    size_for_calc = parseFloat(club_option.data('volume')),
                    sum_for_bar = 0,
                    sum_for_agency = 0,
                    total_beakers_count = 0,
                    total_shots_count = 0,
                    drinks = [],
                    drinks_sms = [],
                    total_discount = 0;
                $('.containers .drink-container').each(function() {
                    var volume = 0,
                        shots_count = 0,
                        type = $(this).find('.drink-type-select').val();
                    if (type  == 'shot') {
                        shots_count =  parseFloat($(this).find('.drink-count').val());
                    } else {
                        volume = parseFloat($(this).find('.drink-val').val());
                        shots_count = volume / size_for_calc;
                    }

                    var beakers_count = shots_count * 2,
                        sale_price = parseFloat($(this).find('.sale-price').text()),
                        price_in_bar = parseFloat($(this).find('.drink-price').val()),
                        markup = sale_price - (type == 'shot' ? price_in_bar : (price_in_bar / 2)),
                        selected_option = $(this).find('.drink-select option:selected'),
                        current_sum_for_bar = shots_count * price_in_bar;
                    if (club_option.data('equal-prices') == 1) {
                        markup = 0;
                    }
                    var discount = calc_discount(club_option.data('city'), club_option.data('discount'), current_sum_for_bar, markup);

                    sum_for_bar += current_sum_for_bar;
                    sum_for_agency += type == 'shot' ? (sum_for_bar * parseFloat(club_option.data('discount')) / 100) : (markup / 2 * beakers_count);
                    total_discount += discount;

                    var text = [
                        current_sum_for_bar.toFixed(2),
                        discount.toFixed(2),
                        type == 'shot' ? shots_count : beakers_count,
                        selected_option.text()
                    ].join('/') + ', ' + price_in_bar + '-' + sale_price;
                    drinks_sms.push(text);
                    drinks.push({
                        'price_for_sale': sale_price,
                        'price_in_bar': price_in_bar,
                        'id': selected_option.attr('value'),
                        'count': shots_count
                    });
                });

                return {
                    club_option: club_option,
                    sum_for_bar: sum_for_bar,
                    sum_for_agency: sum_for_agency,
                    total_beakers_count: total_beakers_count,
                    total_shots_count: total_shots_count,
                    drinks_sms: drinks_sms,
                    drinks: drinks,
                    time_from: $('#time-from').val(),
                    time_to: $('#time-to').val(),
                    date: $('#calendar').val(),
                    discount: total_discount
                }
            }

            // импорт в отчет
            $('#import-to-report').on('click', function() {
                // проверка что все заполнено
                var error = false,
                    data = get_current_data();
                for (var i in data) {
                    if (data[i] == 'undefined' || data[i] === '') {
                        error = true;
                        console.log(0, i, data[i]);
                        break;
                    }
                }
                for (var i in data['drinks']) {
                    if (!data['drinks'][i]) {
                        error = true;
                        console.log(1, i);
                        break;
                    }
                }
                if (error) {
                    new PNotify({
                        title: 'О нет!',
                        text: 'Произошла ошибка при сохранении данных. НЕОБХОДИМО ЗАПОЛНИТЬ ВСЕ ДАННЫЕ',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                    $('.ui-pnotify').fadeIn('slow');
                    setTimeout(function () {
                        $('.ui-pnotify').fadeOut('fast');
                    }, 3000);
                } else {
                    $.ajax({
                        url: '{% url 'calc:import_to_report' %}',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            club: data['club_option'].val(),
                            drinks: JSON.stringify(data['drinks']),
                            date: reformat_date(data['date']),
                            discount: data['discount'],
                            start_time: data['time_from'],
                            end_time: data['time_to'],
                            sum_for_bar: data['sum_for_bar']
                        },
                        type: 'POST',
                        success: function(response) {
                            if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                                new PNotify({
                                    title: 'Ура!',
                                    text: 'Данные успешно импортированы',
                                    type: 'success',
                                    styling: 'bootstrap3'
                                });
                            } else {
                                new PNotify({
                                    title: 'О нет!',
                                    text: 'Произошла ошибка при импортировании данных',
                                    type: 'error',
                                    styling: 'bootstrap3'
                                });
                            }
                            $('.ui-pnotify').fadeIn('slow');
                                setTimeout(function () {
                                    $('.ui-pnotify').fadeOut('fast');
                                }, 2000);
                        }
                    });
                }
            });

            // генерация смс отчета
            $('#start-calc').on('click', function() {
                var data = get_current_data();
                $('#price-for-bar').text(data['sum_for_bar'].toFixed(2));
                $('#price-for-agency').text(data['sum_for_agency'].toFixed(2));

                // заполнение смс отчета
                var city_name = data['club_option'].data('city');
                city_name = city_name == 'Москва' ? 'Мск' : 'Питер';
                var text = [
                    data['date'],
                    data['club_option'].data('short-name'),
                    data['drinks_sms'].join(', ')
                ];
                text.push(data['time_from'] + '-' + data['time_to']);
                text = (city_name ? (city_name + ': ') : '') + text.join(', ');
                $('#sms-message .text-sms').text(text);
                {% comment "old sms report" %}$('#sms-message-date').text(data['date']);
                $('#sms-message-club').text(data['club_option'].data('short-name'));
                $('#sms-message-bar').text(data['sum_for_bar'].toFixed(2));
                $('#sms-message-agency').text(data['sum_for_agency'].toFixed(2));
                $('#sms-message-beakers-count').text(data['total_beakers_count']);
                $('#sms-message-shots-count').text(data['total_shots_count']);
                $('#sms-message-time').text(data['time_from'] + '-' + data['time_to']);
                $('#sms-message-drinks').text(data['drinks_sms'].join(', '));
                if (data['only_shots']) {
                    $('#sms-message-beakers-count-container').hide();
                    $('#sms-message-shots-count-container').show();
                } else if (data['only_beakers']) {
                    $('#sms-message-beakers-count-container').show();
                    $('#sms-message-shots-count-container').hide();
                } else {
                    $('#sms-message-beakers-count-container').show();
                    $('#sms-message-shots-count-container').show();
                }{% endcomment %}
                $('#sms-message').show();

                $.ajax({
                    url: '{% url 'calc:check_report' %}',
                    data: {
                        club: data['club_option'].val(),
                        date: reformat_date(data['date'])
                    },
                    type: 'GET',
                    success: function(response) {
                        if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                            $('#import-to-report').show();
                            $('#import-to-report-error').hide();
                        } else {
                            $('#import-to-report').hide();
                            $('#import-to-report-error').show();
                        }
                    }
                });
            });

            // сохранение текущего состояния
            $('#save-current-state').on('click', function() {

                var data = $('#settings-form').serializeArray();
                for (var i in data) {
                    if (data[i]['name'] == 'date' && data[i]['value']) {
                        data[i]['value'] = reformat_date(data[i]['value']);
                    }
                }
                data.push({'name': 'csrfmiddlewaretoken', 'value':'{{ csrf_token }}'});
                var drinks = [];
                // сбор инфо о напитках
                $('.containers .drink-container').each(function() {
                    drinks.push($(this).find('form').serializeArray());
                });

                data.push({'name': 'drinks[]', 'value':JSON.stringify(drinks)});
                $.ajax({
                    url: '{% url 'calc:save_current_state' %}',
                    data: data,
                    type: 'POST',
                    success: function(response) {
                        if (typeof response['complete'] != 'undefined' && response['complete'] == 1) {
                            new PNotify({
                                title: 'Ура!',
                                text: 'Данные успешно сохранены',
                                type: 'success',
                                styling: 'bootstrap3'
                            });
                        } else {
                            new PNotify({
                                title: 'О нет!',
                                text: 'Произошла ошибка при сохранении данных',
                                type: 'error',
                                styling: 'bootstrap3'
                            });
                        }
                        $('.ui-pnotify').fadeIn('slow');
                            setTimeout(function () {
                                $('.ui-pnotify').fadeOut('fast');
                            }, 2000);
                    }
                });
            });

            // переключение типа рассчета
            $('.containers').on('change', '.drink-type-select', function() {
                var form = $(this).closest('form'),
                    val = $(this).val(),
                    beakers = form.find('.beakers-volume'),
                    shots = form.find('.shots-count');
                if (val == 'shot') {
                    shots.show();
                    beakers.hide();
                } else {
                    beakers.show();
                    shots.hide();
                }
                form.find('.drink-price').trigger('keyup');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="containers">
        <div class="col-md-6 col-xs-12 panel-container">
            <div class="x_panel x_panel_height">
                <div class="x_title">
                    <h2>Калькулятор</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" id="settings-form">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="club">
                                Заведение
                            </label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <select class="form-control" id="club" name="club">
                                    {% for club in clubs %}
                                        <option {% if state and state.club.id == club.id %}selected{% endif %}
                                                data-equal-prices="{% if club.equal_prices %}1{% else %}0{% endif %}"
                                                data-short-name="{{ club.name }}"
                                                data-volume="{{ club.size_for_calc }}"
                                                data-city="{{ club.city|default_if_none:"" }}"
                                                data-href="{% url 'calc:get_drinks_for_club' club.id %}"
                                                data-discount="{{ club.discount_percent|default_if_none:"0" }}"
                                                value="{{ club.id }}">
                                            {{ club }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="calendar">
                                Дата
                            </label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <input id="calendar" class="form-control" name="date" value="{% if state %}{{ state.date|default_if_none:""|date:"d.m.Y" }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time-from">
                                Время от
                            </label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <input id="time-from" class="form-control" name="start_time" value="{% if state %}{{ state.start_time }}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time-to">
                                Время до
                            </label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <input id="time-to" class="form-control" name="end_time" value="{% if state %}{{ state.end_time }}{% endif %}">
                            </div>
                        </div>
                        {% comment %}<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time-to">
                                Сумма скидки
                            </label>
                            <div class="col-md-9 col-sm-6 col-xs-12">
                                <input id="discount" class="form-control" name="discount" value="{% if state %}{{ state.discount|default_if_none:"" }}{% endif %}">
                            </div>
                        </div>{% endcomment %}
                    </form>
                    <hr>
                    <button class="btn btn-info" id="add-drink"><i class="fa fa-plus"></i> Добавить напиток</button><br>
                    <button class="btn btn-info" id="save-current-state"><i class="fa fa-save"></i> Сохранить текущее состояние</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 panel-container">
            <div class="x_panel x_panel_height">
                <div class="x_title">
                    <h2>Инфо</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <button class="btn btn-success" id="start-calc">Я ВСЁ заполнила - рассчитать</button>
                    <p>Сумма в бар: <span id="price-for-bar"></span></p>
                    <p>Сумма в агентство: <span id="price-for-agency"></span></p>
                    <div class="small-margin-top"  id="sms-message">
                        <h2>СМС отчет:</h2>
                        <span class="text-sms">
                           {% comment %} <span id="sms-message-date">число</span>, <span id="sms-message-club">название заведения</span>,
                            в бар: <span id="sms-message-bar">сумма</span>, перевод: <span id="sms-message-agency">сумма</span>,
                            <span id="sms-message-shots-count-container">шотов: <span id="sms-message-shots-count">кол-во</span>,</span>
                            <span id="sms-message-beakers-count-container">мензурок: <span id="sms-message-beakers-count">кол-во</span>,</span>
                            <span id="sms-message-drinks">расшифровка того что продавала, цена половины барного шота, цена продажи мензурки</span>,
                            время работы: <span id="sms-message-time"></span>.{% endcomment %}
                        </span>
                        <hr>
                        <button class="btn btn-warning" id="import-to-report"><i class="fa fa-copy"></i> Импорт в отчет</button>
                        <span id="import-to-report-error">У вас нет незаполненных отчетов для выбранного клуба за выбранное число</span>
                    </div>
                </div>
            </div>
        </div>

        {% if state %}
            {% for drink in state.drinks.all %}
                <div class="col-md-6 col-xs-12 drink-container panel-container">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Напиток <small># {{ forloop.counter }}</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="pull-right"><a class="close-link"><i class="fa fa-close"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-select">
                                        Напиток
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control drink-select" name="drink">
                                            {% include 'calc/_drinks_options.html' with selected_drink=drink.drink.id club=state.club all_drinks=all_drinks %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-price">
                                        Тип
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control drink-type-select" name="type">
                                            {% for type in drink_types %}
                                                <option {% if drink.type == type.0 %}selected{% endif %} value="{{ type.0 }}">{{ type.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-price">
                                        Цена напитка в баре
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="drink-price form-control" name="price_in_bar" value="{{ drink.price_in_bar }}">
                                    </div>
                                </div>
                                <div class="form-group beakers-volume" {% if drink.type == 'shot' %}style="display: none;" {% endif %}>
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-val">
                                        Кол-во мл
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="drink-val form-control" name="volume" value="{{ drink.volume|default_if_none:"" }}">
                                    </div>
                                </div>
                                <div class="form-group shots-count" {% if drink.type == 'beaker' %}style="display: none;" {% endif %}>
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-val">
                                        Кол-во шотов
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="drink-count form-control" name="count" value="{{ drink.count|default_if_none:"" }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Цена продажи: <span class="sale-price">{{ drink.get_sale_price|floatformat:0 }}</span></h4>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id="empty-form">
        <div class="col-md-6 col-xs-12 drink-container">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Напиток <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-select">
                                Напиток
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control drink-select" name="drink">
                                    {{ drinks_options }}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-price">
                                Тип
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control drink-type-select" name="type">
                                    {% for type in drink_types %}
                                        <option value="{{ type.0 }}">{{ type.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-price">
                                Цена напитка в баре
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="drink-price form-control" name="price_in_bar">
                            </div>
                        </div>
                        <div class="form-group beakers-volume">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-val">
                                Кол-во мл
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="drink-val form-control" name="volume">
                            </div>
                        </div>
                        <div class="form-group shots-count">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="drink-val">
                                Кол-во шотов
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="drink-count form-control" name="count">
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Цена продажи: <span class="sale-price"></span></h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}