{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Ведомость{% endblock %}

{% block additional_js %}
    <script>
        $(function() {
            setCalendarForButton('');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ведомость
                    <small>{{ start_week }} - {{ end_week }}</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- buttons start -->
                <a href="?week={{ prev_week }}&start_date={{ start_date }}">
                    <button class="btn"><i class="fa fa-long-arrow-left"></i> Предыдущая неделя</button>
                </a>
                <a href="?week={{ next_week }}&start_date={{ start_date }}">
                    <button class="btn">Следующая неделя <i class="fa fa-long-arrow-right"></i></button>
                </a>
                <div class="small-margin-top">
                    <button class="btn btn-primary" id="calendar">Выбрать неделю по дате</button>
                </div>
                <div class="small-margin-top">
                    <a class="btn btn-success" href="{% url 'statement:statement_show' week_offset start_date %}">Показать</a>
                    <a class="btn btn-warning" href="{% url 'statement:export_xls' week_offset start_date %}">Загрузить .xls</a>
                </div>
                <!-- buttons end -->

            </div>
        </div>
    </div>
{% endblock %}