{% if penalties %}
<table class="table table-striped">
    <thead>
        <tr>
        <th>Дата</th>
        <th>Тип штрафа</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>
        {% for penalty in penalties %}
            <tr>
                <td>
                    {{ penalty.date }}
                </td>
                <td>
                    {{ penalty.type.description }}
                </td>
                <td>
                    {{ penalty.count }}
                </td>
                <td>
                    {{ penalty.get_sum }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    Нет штрафов.
{% endif %}